{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img id='game-logo' src="{% static 'game_logo.png'%}">
    </a>
    <h1>Codenames on Slack</h1>
    <p>The game of <a href="https://en.wikipedia.org/wiki/Codenames_(board_game)">Codenames</a>, adapted on Slack, played in a single channel. Users play with interactive buttons and slash commands. </p>
    <a type="button" class="btn btn-lg btn-default" href='{% url 'slack_auth' %}'><img src="{% static 'slack_icon.png'%}">Install on Slack</a>
  </div>
</div>
<div class="container">
  <h1 class='how-to-play-banner'>How to Play</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <h3>1. Create a game</h3>
        <li>Any user may type "/codenames" to activate a game within a channel.</li>
        <img src="{% static 'initialize_game.png' %}"/>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>2. Wait for users to join teams</h3>
      <img src="{% static 'create_game_with_members.png' %}"/>
    </div>
  </div> <!-- row -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <h3>3. Close and finalize the teams</h3>
        <li>This will prompt the game master (user who created game) to select spymasters.</li>
        <img src="{% static 'close_teams_blue_spymaster.png' %}"/>
        <hr>
        <li>Choices for spymaster are restricted to the team the users are on.</li>
        <img src="{% static 'close_teams_red_spymaster.png' %}"/>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>4. Start Playing!</h3>
      <li>The board will display plenty of information needed for the users to understand the state of the game.</li>
      <img src="{% static 'initial_game_state.png' %}"/>
    </div>
  </div> <!-- row -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <h3>5. (spymasters) Give your team a hint</h3>
        <li>First take a look at the map card by clicking the green "Show Map Card" button.</li>
        <img src="{% static 'show_map_card.png' %}"/>
        <hr>
        <li>Then use the slash command "/give_hint [word, num_guesses]" to provide your team with a hint.</li>
        <img src="{% static 'give_hint_focused.png' %}"/>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>6. (players) Click words that match the hint, or end your team's turn.</h3>
      <h4><b>(The board will automatically re-display at the bottom every time a user interacts with it.)</b></h4>
      <li>Your team's turn will automatically end if they are out of guesses</li>
      <img src="{% static 'mid_game_state.png' %}"/>
      <li>You may prematurely end your team's turn if they aren't sure what to guess next by simply clicking the "End Turn" button.</li>
      <img src="{% static 'end_turn_prompt.png' %}"/>
    </div>
  </div> <!-- row -->
  <hr>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h3>7. Keep going until the game is over!</h3>
      <li>The game ends if a team gets all of their cards, or if a player picks the assassin.</li>
      <img src="{% static 'final_game_state.png' %}"/>
      <li>The game master may the slash command "/cancel_game" at any time to reset and clear all the game data.</li>
    </div>
    <div class="col-md-6">
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
